.z-i-1{

    z-index: 1;
}
.A-drop-content{
   height:0px;
   overflow: hidden;
   display:none;
    transition: all .5s;
}
.A-drop-menu:hover div{
    height: auto;
    display: block;
}



                        
                       